// Custom styles.
body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.site-meta {
  background: #4d4d4d;
}

.post {
   margin-top: 60px;
  //  margin-bottom: 60px;
  }
